// Place all the styles related to the Auditions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$max_width: 960px;
$gutter_width: 20px;
$col_count: 8;
$gutter_count: $col_count - 1;
$total_gutter_width: $gutter_count * $gutter_width;

$col_width: ($max_width - $total_gutter_width) / $col_count;


$accent_color: rgb(0, 135, 204);

@mixin columnify($num_cols) {
    width: $col_width * $num_cols + $gutter_width * ($num_cols - 1);
}

@mixin offset($num_cols) {
    margin-left: ($col_width + $gutter_width) * $num_cols;
}

body {
  background: url('grey.png');
  padding: 0px;
  margin: 0px;
}

a {
  text-decoration: none;
}

.nav {
  background: white;
  border-bottom: 1px solid lightgrey;
  font-size: 0px;
  ul {
    width: 960px;
    margin: 0px auto;
    margin-top: 0px;
    padding-left: 0px;
    li {
      @include columnify(2);
      padding: 5px 0px;
      padding-right: 5px;
      padding-left: 5px;
      text-align: center;
      display: inline-block;
      list-style-type: none;
      text-transform: uppercase;
      font-size: 11pt;
      border-left: 1px solid lightgrey;
      &:nth-of-type(4n) {
        margin-right: 0px;
        border-right: 1px solid lightgrey;
      }
      &:hover {
        a {
          color: $accent_color;
        }
      }
    }
  }
}

.container {
  max-width: 960px;
  margin: 0px auto;
}


.banner {
  margin-top: 15px;
  .photo {
    margin: 0px;
    img {
      width: 550px;
    }
  }
}

.audition_counter {
  margin-top: 10px;
  border: 1px solid lightgrey;
  border-radius: 5px;
  background: white;
  @include columnify(2);
  float: left;
  margin-right: 18px;
  padding: 0px;
  ul {
    padding: 0px;
    margin: 0px;
    position: relative;
    li {
      list-style-type: none;
      border-bottom: 1px solid lightgrey;
      padding: 8px;
      &:nth-of-type(3n) {
        border-bottom: none;
      }
      &.active {
        font-weight: bold;
      }
      span {
        float: right;
        color: white;
        font-weight: bold;
        background: gray;
        margin-right: 8px;
        padding: 2px 8px;
        border-radius: 10px;
        position: relative;
        bottom: 2px;
      }
    }
  }
}

.audition_list {
  @include columnify(6);
  float: left;
  margin-right: 0px;
  padding: 0px;
  position: relative;
  h1 {
    margin-bottom: 0px;
    margin-top: 0px;

  }
  .eqstatus {
    @include columnify(1);
    float: left;
    h3 {
      &.eq {
        color: $accent_color;
        margin-top: 0px;
        font-size: 10pt;
      }
    }
  }
  h3 {
    &.date {
      @include offset(1);
      margin-top: 0px;

    }
  }
  form {
    input[type="submit"] {
      @include columnify(1);
      font-size: 12pt;
      color: white;
      background: $accent_color;
      border: 2px solid $accent_color;
      border-radius: 5px;
      position: relative;
      bottom: 2px;
      &:hover {
        background: lightgray;
        border: 2px solid lightgray;
        color: black;
      }
    }
  }

  h2 {
    position: relative;
    margin-bottom: 0px !important;
    button {
      @include columnify(1);
      color: white;
      background: $accent_color;
      border: 2px solid $accent_color;
      border-radius: 5px;
      position: relative;
      bottom: 2px;
      a {
       color: white;
        font-size: 12pt;
      }
      &:hover {
        background: lightgray;
        border: 2px solid lightgray;
        a {
          color: black;
        }
      }
    }
    span {
      @include columnify(5);
      margin-left: 20px;
      a {
        &:hover {
          color: black;
        }
      }
    }
  }
}

.oneaudition {
  border-top: 1px solid lightgray;
  margin-top: 35px;
}
